/database/*.db
/database/*.sqlite
/database/*.sqlite3
/database/*.db-journal
/database/*.db-shm
/database/*.db-wal
/database/*.sqlite-journal
/database/*.sqlite-shm
/database/*.sqlite-wal
/database/*.sqlite3-journal
/database/*.sqlite3-shm
/database/*.sqlite3-wal
/database/instance_secret

.env
.env.*

*.log

.DS_Store
Thumbs.db

.idea/
.vscode/
